@use "./variables.scss" as *;

html,
body,
#app {
  min-height: 100%;
}

#app {
  min-height: 100vh;
  background: url("@/assets/image/952.jpg") top center / cover no-repeat;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-width: 22.5rem;
  color: $black;
  font-family: $font-inter-regular;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d8edf8;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img, svg {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $containerWidth;
  width: 100%;
}