$containerWidth: 1200px;

$xxs: 360px;
$xs: 576px;
$sm: 768px;
$md: 1024px;

$radius-s: 0.5rem;
$radius-sm: 0.625rem;
$radius-md: 0.75rem;
$radius-xl: 1rem;

$black: #1a1413;

$font-inter-light: "Inter-Light", sans-serif;
$font-inter-regular: "Inter-Regular", sans-serif;
$font-inter-medium: "Inter-Medium", sans-serif;
$font-inter-semibold: "Inter-SemiBold", sans-serif;
$font-inter-bold: "Inter-Bold", sans-serif;
$font-inter-extrabold: "Inter-ExtraBold", sans-serif;


